
#superbchart{
    position: absolute; 
    top: 49vh; 
    left: 44vw;
}

svg {
    font: 10px sans-serif;
  }
  
  
  .bar {
    fill: #095689;
    clip-path: url(#clip);
  }
    
  .subBar { 
    fill: gray;
    opacity: 0.5;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: rgb(224, 224, 224);
    shape-rendering: crispEdges;
  }
  
  .brush .extent {
    stroke: #fff;
    fill: #095689;
    fill-opacity: .25;
    shape-rendering: crispEdges;
  }
  
  rect.mover {
      stroke: red;
      stroke-opacity: .1;
      fill: lightSteelBlue;
      fill-opacity: .5;
  }
  #changeGraph{
      position: absolute;
      right: 10%;
      top: 10%;
      width: 100px;
  }
  
  #bchart-scroll{
      position: absolute;
      top: 1vh;
  }
  
  .chart-submenu{
      display: none;
      position: absolute;
      top: 0.5vh;
      left: 8.5vw;
      padding-top: 1em;
  }
  
  .container {
      color: rgb(224, 224, 224);
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
      background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
      background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
      display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
      left: 6px;
      top: 2px;
      width: 4px;
      height: 8px;
      border: solid rgb(224, 224, 224);
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }