/* A note on Z-indexes
    0: normal
    1: blue bar on top, heatmap
    2: main title
*/

html { 
    font-size: 62.5%; 
    overflow: hidden;
} 

body {
    display: inline-block;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    fill: #8C8C8C;
    background-color: #1e1e1e;
    margin: 0;
}


#top-bar{
    background: #13284c; 
    position: relative; 
    display: block; 
    z-index: 1; 
    height: 48px; 
    margin-bottom: 5px;
    width: 100%;
    top: -2px;
}

#main-title{
    margin: 0;
    padding-top: 7px;
    text-align: center;
    color: rgb(224, 224, 224);
    z-index: 2;
    font-size: 20pt;
}


.yearLabel, .monthLabel {
    fill: #AAAAAA;
    font-weight: 300;
}

text.axis-workweek, text.axis-worktime {
    fill: #404040;
    font-weight: 400;
}

.title {
    fill: #4F4F4F;
    font-weight: 300;
}

.subtitle {
    fill: #AAAAAA;
    font-weight: 300;
}
    
.credit {
    fill: #AAAAAA;
    font-weight: 400;
}

.axis path, .axis tick, .axis line {
        fill: none;
        stroke: none;
    }

text {
    font-size: 1.3em;
    fill: rgb(224, 224, 224);
    font-weight: 400;
}

.legendTitle {
        fill: #4F4F4F;
        font-weight: 300;
}

#heatmap{
    text-align: right;
    position: absolute; 
    top: 5vh; 
    left: 58vw;
    z-index: 1;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
    font-size:12px Arial;
    z-index: 25;
}