/* A note on Z-indexes
    0: normal
    1: blue bar on top, heatmap
    2: main title
*/

html { 
    font-size: 62.5%; 
    overflow: hidden;
} 

body {
    display: inline-block;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    fill: #8C8C8C;
    background-color: #2c2c2c;
}


#top-bar{
    background: #1c3154; 
    position: relative; 
    display: block; 
    z-index: 1; 
    height: 48px; 
    margin-bottom: 5px;
    width: 100%;
}

#main-title{
    margin: 0;
    padding-top: 7px;
    text-align: center;
    color: rgb(224, 224, 224);
    z-index: 2;
    font-size: 20pt;
}


.yearLabel, .monthLabel {
    font-size: 1.6rem;
    fill: #AAAAAA;
    font-weight: 300;
}

text.axis-workweek, text.axis-worktime {
    fill: #404040;
    font-weight: 400;
}

.title {
    font-size: 2.8rem;
    fill: #4F4F4F;
    font-weight: 300;
}

.subtitle {
    font-size: 1.4rem;
    fill: #AAAAAA;
    font-weight: 300;
}
    
.credit {
    font-size: 1.2rem;
    fill: #AAAAAA;
    font-weight: 400;
}

.axis path, .axis tick, .axis line {
        fill: none;
        stroke: none;
    }

text {
        font-size: 1.2rem;
        fill: rgb(224, 224, 224);
        font-weight: 400;
}

.legendTitle {
        font-size: 1.6rem;
        fill: #4F4F4F;
        font-weight: 300;
}

#heatmap{
    text-align: right;
    position: absolute; 
    top: 5vh; 
    left: 58vw;
    z-index: 1;
}